/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

/* ScannerModal Layout */
.scanner-modal {
	width: 90vw;
	height: 80vh;
}

.scanner-modal-container {
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: column;
	align-items: center;
	padding: 1rem;
	box-sizing: border-box;
}

.scanner-modal-container canvas {
	width: 100%;
	height: 100%;
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
}
